@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

.header,
.section {
    padding: 0 250px;
}

.header {
    justify-content: space-between;
    padding-top: 20px;
}

.header,
body,
.section,
.footer,
.figures {
    display: flex;
}

.header,
.hero,
.footer {
    background-color: #1F2937;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.logo,
.author,
.banner-header {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.links,
.secondary-text,
.footer,
button,
.banner-text {
    font-size: 18px;
    color: #E5E7EB;
}

.links {
    display: flex;
    gap: 25px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

button {
    border-radius: 10px;
    width: 130px;
    height: 40px;
    font-weight: bold;
}

.container>button {
    border: 0;
}

.box,
button {
    background-color: #3882F6;
}

.quote {
    background-color: #E5E7EB;
}

.phrase,
.information-header {
    font-size: 36px;
    color: #1F2937;
}

.information-header {
    font-weight: 900;
    padding: 50px 0;
}

.phrase {
    font-weight: 300;
    font-style: italic;
}

.footer {
    justify-content: center;
    align-items: center;
}

.section.hero {
    padding: 100px 250px;
    gap: 80px;
    align-items: center;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.information {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.figures {
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.crop {
    width: 190px;
    height: 190px;
    object-fit: cover;
    border: 3px solid #3882F6;
}

img {
    border-radius: 5%;
}

.figure {
    display: flex;
    flex-direction: column;
    width: 250px;
    text-align: center;
    align-items: center;
    gap: 10px;
}

.quote {
    flex-direction: column;
    padding: 120px 400px;
}

.author {
    color: #1F2937;
    text-align: right;
    padding-right: 30px;
}

.box>button {
    border: 2px solid #F9FAF8;
}

.call-to-action {
    justify-content: center;
    align-items: center;
    height: 300px;

}

.hero>img {
    border-radius: 10px;
}

.box {
    flex-grow: 1;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}

.footer {
    padding: 38px 0;
}